version: 2.1

orbs:
  node: circleci/node@5.0.3

jobs:
  build:
    docker:
      # Service container image
      - image: cimg/postgres:14.0
        environment:
          POSTGRES_USER: postgres
        auth:
          username: mydockerhub-user
          password: $POSTGRES_PASSWORD

    executor: node/default
    parallelism: 10
    steps:
      - checkout
      - add_ssh_keys
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Update known hosts
          command: ssh-keyscan -H s14.mydevil.net >> ~/.ssh/known_hosts
      - run:
          command: node -v
          name: Show NodeJS version
      - run:
          command: yarn test
          name: Run tests
      - run:
          command: yarn build
          name: Build app
      - run:
          command: |
            scp -r dist/* $DEPLOY_USER@$DEPLOY_SERVER:$DEPLOY_PATH
          name: Deploy to remote server
      - run:
          ssh $DEPLOY_USER@$DEPLOY_SERVER
            $DEPLOY_RESTART_COMMAND;
            "

