version: 2.1

orbs:
  node: circleci/node@5.0.3

jobs:
  build:
    executor: node/default
    parallelism: 10
    steps:
      - checkout
      - add_ssh_keys
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: node -v
          name: Show NodeJS version
      - run:
          command: yarn test
          name: Run tests
      - run:
          command: yarn build
          name: Build app
      - run:
          command: |
            scp -r dist/* wmitrus@s14.mydevil.net:/home/wmitrus/domains/nestjs.wmitrus.usermd.net/public_nodejs
          name: Deploy
