version: 2.1

orbs:
  node: circleci/node@5.0.3

jobs:
  build:
    docker:
      - image: node:18.12.0
      - image: circleci/postgres:14.0
        environment:
          POSTGRES_USER: $POSTGRES_USER
          POSTGRES_PASSWORD: $POSTGRES_PASSWORD
          POSTGRES_DB: $POSTGRES_DB
    steps:
      - checkout
      - add_ssh_keys
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Update known hosts
          command: ssh-keyscan -H s14.mydevil.net >> ~/.ssh/known_hosts
      - run:
          command: node -v
          name: Show NodeJS version
      - run:
          command: yarn test
          name: Run tests
      - run:
          command: yarn build
          name: Build app
      - run:
          command: |
            scp -r dist/* $DEPLOY_USER@$DEPLOY_SERVER:$DEPLOY_PATH
          name: Deploy to remote server
      - run:
          ssh $DEPLOY_USER@$DEPLOY_SERVER
            $DEPLOY_RESTART_COMMAND;
            "

